/* Selection */
::selection {
    background: $theme-color; /* WebKit/Blink Browsers */
    color: $white;
}

::-moz-selection {
    background: $theme-color; /* Gecko Browsers */
    color: $white;
}

/* Links */
a {
    color: $link-color;
    text-decoration: underline;
    font-weight: 700;

    &:hover {
        color: $link-hover;
        text-decoration: none;
    }

    &::visited {
        color: $link-color;
        text-decoration: underline;
    }
}

body {
    position: relative;
    padding: 50px 15px 15px 15px;

    @include md-screen {
        padding: 50px 25px 25px 25px;
    }

    @include lg-screen {
        padding: 50px;
    }


}