/* Body */
body {
    padding: 0 15px;

    @include md-screen {
        padding: 0 45px;
    }
}

/* Selection */
::selection {
    background: $black;
    color: $white;
}

/* Links */
a {
    color: $black;
    text-decoration: underline;
    font-weight: 500;

    &:hover {
        color: lighten($black, 25%);
        text-decoration: none;
    }

    &::visited {
        color: $black;
        text-decoration: underline;
    }
}