/* Core Colors */
$white: #ffffff;
$black: #000000;

$primary: #58EEEF;
$primary-extra: #C6FFFF;
$secondary: #FF9BF3;
$secondary-extra: #FFDAFB;

$open: #5BDF80;
$closed: #DF5B5B;

/* Social media */
$facebook: #29487d;
$twitter: #55acee;
$pinterest: #bd081c;
$linkedin: #0077b5;
$instagram: #405de6;
$youtube: #ff0000;
$twitch: #6441a4;
$discord: #7289da;
$snapchat: #fffc00;
$reddit: #ff4500;
$github: #000000;
$bitbucket: #0052cc;
$slack: #4a154b;
$medium: #000000;
$vimeo: #19b7ea;
$spotify: #1db954;
$whatsapp: #4ac959;

/* Custom Font Family */
$fallback: Helvetica Neue, Helvetica, Arial, sans-serif;
$custom-family: 'Roboto Condensed', sans-serif;

// scss-docs-start container-max-widths
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 994px,
    xxl: 995px
) !default;
// scss-docs-end container-max-widths