/*Core colors*/
$white: #ffffff;
$black: #000000;
$grey: #dee2e6;

/* Theme colors */
$theme-color: #011945;
$second-theme-color: #9babc5;

/* Links */
$link-color: #3ab7fa;
$link-hover: #00a6ff;

/* Social media */
$facebook: #29487d;
$fa-hover: #1d3358;
$twitter: #55acee;
$tw-hover: #178ce3;
$pinterest: #bd081c;
$pi-hover: #910614;
$linkedin: #0077b5;
$li-hover: #00a0dc;
$instagram: #405de6;
$youtube: #ff0000;
$twitch: #6441a4;
$discord: #7289da;
$snapchat: #fffc00;
$reddit: #ff4500;
$github: #000000;
$bitbucket: #0052cc;
$slack: #4a154b;
$medium: #000000;
$vimeo: #19b7ea;
$spotify: #1db954;
$whatsapp: #4ac959;
$wa-hover: #31a440;

/* Custom Font Family */
$fallback: Helvetica Neue, Helvetica, Arial, sans-serif;
$custom-family: 'Poppins', sans-serif;
